body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("./components/assets/cover-image.jpg");
  background-position:bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Styling */

:root{

  --nav-color:#001d3d;
  --bg-nav:#FFDD93;
  --body-color:#000;
  --bg-white:#fff;
  --btn-color:#008E89;
  
}

nav{

  text-transform: uppercase;
  font-weight: 700;
  color: var(--bg-nav) !important;
 
}
.nav-item a{
  color: #fff  !important;
  font-weight: 700;
  text-decoration: overline;
}


.logo{
  font-family: Arizonia,'Bilbo Swash Caps','Arial';
  font-weight: 800;
  text-transform: capitalize;
  font-size: 2.4rem;
  color: var(--btn-color) !important;
}

.intro{

  color:var(--bg-white);
  padding: 8rem 5rem 1rem 5rem;
  font-family: Roboto,Arial;
  font-size: 1.2rem;
}

.intro-para{

  width:32%;
  line-height: 2.2rem;
  letter-spacing:0.13rem ;
}

.intro button{

  color:var(--bg-white) !important;
}

.fa{
  font-size: 2.1rem;
  color: var(--btn-color) !important;
}

.btn{

  background-color: var(--btn-color) !important;
  font-weight: 900;
}

.education-skill{

  min-height: 30vh;
}
.education-section,.skill-section {
  background-color: var(--btn-color) !important;
  height:100%;
  width:100%;

}

.education-section{

  border-right:2px solid var(--body-color);

}
.work-section{
  background-color: #000 !important;
  color:#fff;
}

.projects-section{
  background-color: #000 !important;
}


.about-section{

  background-color: #000;

}
.profile-image{

  width:40%;
  border-radius: 10%;

}


.fa-tag{

  font-size: 20px;
}


span{

color: var(--btn-color);
font-weight: 700;
font-size: 0.9rem;
}

.react-icon{

  font-size: 1.7rem;
  margin-right: 1rem;
  color: var(--btn-color);
}

.pages-icon{

  font-size: 4.7rem;
}

.hireme{
 font-size: 2rem !important;
  max-width:70vw !important;
  height:70vh !important;
  margin:3rem auto !important;
  background-color:var(--body-color) !important;
  border-radius: 10px;
  padding:3rem 3rem !important;

}

@media screen and (min-width:993px) {
  
  .navbar-collapse{
    display: flex;
    justify-content: flex-end;  
    color: var(--bg-nav) !important;
  }

  .nav-item a{

    padding:0 1rem ;
  }


}